<form action="/restaurants/{{restaurant_id}}/menus/{{menu.id}}/editmenu" method="POST">
    <div>
        <label>Change Menu Name </label>
        <input name="title" value="{{menu.title}}" />
    </div>
    <button>Update</button>
</form>
